{% extends 'inicio/index.html' %}
{% block title %} Presença em Aulas {% endblock title %}


{% block title-content %}
    
{% endblock title-content %}
    

{% block content %}
<div class="card" style="width: 450px; margin: 0 auto;">
    <!-- <div class="card-header">
      Featured
    </div> -->
    <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Presença em Aulas</h5>
        <form action="#" style="padding-top: 20px;" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="validationServer01" class="form-label">{{form.aluno.label}}</label>
                {{form.aluno}}
               
            </div>
            <div class="form-group">
              <label for="validationServer01" class="form-label">{{form.instrutor.label}}</label>
              {{form.instrutor}}
             
          </div>
            <div class="form-group">
                <label for="validationServer01" class="form-label">{{form.dia.label}}</label>
                {{form.dia}}
            </div>
            <div class="text-center">
              <button class="btn btn-primary" type="submit" style="margin-top: 20px;">Salvar</button>
              <button class="btn btn-danger" type="reset" style="margin-top: 20px;">Cancelar</button>
            </div>
        </form>
    </div>
    <!-- <div class="card-footer text-muted">
      2 days ago
    </div> -->
  </div>
{% endblock content %}

    